.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 5vw;
    gap: 0;
    height: 80vh;
}
.linkTxt{
    width: 50vw;
    text-align: center;
    padding: 2vh 2vw;
    font-size: 24px;
}
.btn{
    padding: 1vh 2vw;
    font-size: 24px;
    letter-spacing: 1.1px;
    height: fit-content;
}
.qrClass{
    border: 1px solid black;
}

.colorDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
.qrcolorDiv{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.txt{
    margin: 0;
}
.picker{
    border: 1px solid black;
}



    
@media screen and (max-width: 768px) {
    .btn{
        font-size: 16px;
    }
    .linkTxt{
        width: 80vw;
        font-size: 14px;
    }
}